:root {
  --main-bg-color: #e2eefa;
  --btn-bg-color: #14aaf5;
  --btn-bg-dark-color: #129ce1;
  --dark-color: #204c6a;
  --very-dark-color: #1b3346;
  --sans-serif-font: Helvetica, Arial, Verdana, sans-serif;
  --monospace-font: "Courier New", "Lucida Console", monospace;;
}

@mixin border-box() {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

@import 'input';
@import 'asside';
@import 'popup';
@import 'btn';
@import 'note';

body {
  color: var(--very-dark-color);
  background: var(--main-bg-color);
  font-family: var(--sans-serif-font);
}

#app {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font: 35px var(--monospace-font);
  font-weight: bold;
  margin: 20px 0 50px;
}


.title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.del img {
  width: 14px;
  margin: -1px 0;
}