
.add-todo {
  margin: 0;

  input, > span {
    display: inline-block;
  }

  input {
    width: calc(100% - 220px);
    margin-right: 50px;
  }
}

.added-todos {
  width: 100%;

  .row {
    margin: 20px 0;

    input {
      display: inline-block;
      width: 50px;
    }

    input + input {
      width: calc(100% - 120px);
      margin-right: 20px;
    }

    &.done{
      input{
        opacity: .6;
      }
    }

    .del{
      padding: 5px;
      img{
        width: 20px;
      }
    }
  }
}

.todo-items {
  padding-right: 20px;
}

.note-item {
  border-left: 3px solid var(--btn-bg-dark-color);
  margin-top: 30px;
  padding: 10px;

  .description {
    margin-left: 50px;

    .item {
      padding: 10px 0;
      border-bottom: 1px solid var(--btn-bg-dark-color);
      &.done{
        opacity: .5;
      }
    }
  }

  &:hover {
    border-color: var(--very-dark-color);
  }

  .head {
    .btn {
      width: 115px;
      margin: 0 5px;
      text-decoration: none;
    }

    p {
      display: inline-block;
      width: calc(100% - 260px);
    }
  }
}
